<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.phone_number %>
</p>


<h2>Reviews!</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Back', restaurants_path %>

